# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
pycharm_runner.py
FacebookCookies.pkl
lib/scraper/constants.py
lib/scraper/constants.pkl
ghostdriver.log


data/*/*.txt
data/*/*.pkl
!.gitkeep

logs/logfile.log

*.rdb

slughorn.egg-info
dist
build