# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

scraper/constants.py
*.pkl
ghostdriver.log

data/facebook/*.txt
data/twitter/*.txt

logs/logfile.log

*.rdb
