# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

lib/scraper/constants.py
*.pkl
ghostdriver.log

data/facebook/*
data/twitter/*
!.gitkeep

logs/logfile.log

*.rdb

slughorn.egg-info