{% extends 'layouts/main.html' %}
{% block title %}Status{% endblock %}
{% block content %}

<script>
window.onload = function start() {
    slide();
}
function slide() {
    window.setInterval(function () {
        $.get('/progressbar/{{ case_number }}', function(data) {
            var status = $('#status');
            status.attr("aria-valuenow",data);
            status.attr("style","width:"+data+"%");
            status.html(data+"%")
        });
    }, 1000);
}
</script>

<div class="page-header">
  <h1>Status</h1>
</div>
<p class="lead">Case {{ case_number }} created!</p>

<div class="progress progress-striped active">
    <div id="status" class="progress-bar" role="progressbar"
    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
    0%
    </div>
</div>

{% endblock %}

