{% import "bootstrap/wtf.html" as wtf %}

{%- extends "base.html" %}


{% block content %}
   <div class="container">
      <div class="jumbotron">
        <h1>Twitter Scraper</h1>
        <p>Please enter a user name and a time frame below:</p>
      </div>
   <div class="col-md-12">
    <form method="POST" action="/">
        {{ form.csrf_token }}
        {{ form.name.label }} {{ form.name(size=20) }}
        {{ form.from_date.label }} {{ form.from_date(size=20) }}
        {{ form.to_date.label }} {{ form.to_date(size=20) }}
        {{ form.all_tweetslabel }} {{ form.all_tweets(size=20) }}
        <input type="submit" value="Scrape!">
    </form>
   </div>
   </div>
{%- endblock %}